<div style="background-image: url('assets/media/auth/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;">
  <div class="d-flex flex-column flex-root ">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid flex-lg-row">
      <!--begin::Aside-->
      <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
        <!--begin::Aside-->
        <div class="d-flex flex-center flex-lg-start flex-column">
          <!--begin::Logo-->
          <a href="index.html" class="mb-7">
            <img alt="Logo" src="assets/media/logos/custom-3.svg" />
          </a>
          <!--end::Logo-->
          <!--begin::Title-->
          <h2 class="text-white fw-normal m-0">Branding tools designed for your business</h2>
          <!--end::Title-->
        </div>
        <!--begin::Aside-->
      </div>
      <!--begin::Aside-->
      <!--begin::Body-->
      <router-outlet />
      <!--end::Body-->
    </div>
    <!--end::Authentication - Sign-in-->
  </div>
</div>
