<div class="story-card">
    <div class="story-image">
      <img src="" alt="" />
    </div>
    <div class="story-date">01/01/2025</div>
    <div class="story-title">
      <h2 class="h2storytilte">أول مركز متخصص للترفيه التعليمي في المملكة</h2>
    </div>
    <div class="story-description">
      <p>المركز التعليمي - هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة. لقد تم توليد هذا إلى ...</p>
    </div>
    <div class="story-author">
      عادل
    </div>
    <a href="#" class="btn">رؤية التفاصيل</a>
  </div>