
        <div class="package">
          <h2 class="h2Basic">{{name}}</h2>
          <div class="price"> {{price}} ر/س شهرياً</div>
          <ul class="features">
            <li>مكاتب فردية</li>
            <li>قاعات الاجتماعات بشكل أسبوعي</li>
            <li>عدد غير محدود من المكتبة الرقمية</li>
            <li>طلب جولات افتراضية في الفروع</li>
            <li>دراسة جدوى</li>
          </ul>
          <div class="action-buttons">
            <a href="#" class="btn-action btn-outline"> تصفح الباقة</a>
            <a href="#" class="btn-action btn-primary">اشترك الآن</a>
          </div>

        </div>
