@for (controlName of objectKeys(branchForm.controls); track $index) {
<div *ngIf="branchForm.get(controlName)?.invalid && branchForm.get(controlName)?.touched">
  <strong>{{controlName}}</strong>
  <pre>{{branchForm.get(controlName)?.errors | json}}</pre>
</div>
}
<div class="card card-flush h-lg-100" id="kt_contacts_main">
  <div class="card-header pt-7" id="kt_chat_contacts_header">
    <div class="card-title">
      <i class="ki-duotone ki-badge fs-1 me-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
      </i>
      <h2 class="card-title fw-bold" translate="Branches.Create"></h2>
    </div>
  </div>
  <div class="card-body pt-5">
    <form [formGroup]="branchForm" id="kt_ecommerce_settings_general_form"
      class="form fv-plugins-bootstrap5 fv-plugins-framework">
      <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required" translate="Branches.Name"></span>
              <span class="ms-1" data-bs-toggle="tooltip" aria-label="Enter branch name"
                data-bs-original-title="Enter branch name" data-kt-initialized="1">
                <i class="ki-duotone ki-information fs-7">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
            <input type="text" formControlName="name" class="form-control form-control-solid">
            <div
              *ngIf="branchForm.get('name')!.invalid && (branchForm.get('name')?.dirty || branchForm.get('name')?.touched)"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="branchForm.get('name')?.errors?.['required']" translate="Branches.NameRequired"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <app-lookup-dropdown [code]="'KSA_GOV'" [parentForm]="branchForm" itemFormName="websiteBranchId"
              validationTextTranslated="Branches.WebsiteBranchIdRequired"
              placeholderTextTranslated="Branches.WebsiteBranchId"
              labelTextTranslated="Branches.WebsiteBranchId"></app-lookup-dropdown>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required" translate="Branches.WorkingDays"></span>
              <span class="ms-1" data-bs-toggle="tooltip" aria-label="Enter working days (e.g., Sat-Sun)"
                data-bs-original-title="Enter working days" data-kt-initialized="1">
                <i class="ki-duotone ki-information fs-7">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
            <input type="text" formControlName="workingDays" class="form-control form-control-solid">
            <div
              *ngIf="branchForm.get('workingDays')!.invalid && (branchForm.get('workingDays')?.dirty || branchForm.get('workingDays')?.touched)"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="branchForm.get('workingDays')?.errors?.['required']" translate="Branches.WorkingDaysRequired">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <app-lookup-dropdown [code]="'BRANCH_CATEGORY'" [parentForm]="branchForm" itemFormName="categoryBranchId"
              validationTextTranslated="Branches.CategoryBranchIdRequired"
              placeholderTextTranslated="Branches.WebsiteBranchId"
              labelTextTranslated="Branches.CategoryBranchId"></app-lookup-dropdown>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required" translate="Branches.StartTime"></span>
              <span class="ms-1" data-bs-toggle="tooltip" aria-label="Select start time"
                data-bs-original-title="Select start time" data-kt-initialized="1">
                <i class="ki-duotone ki-information fs-7">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
            <input type="time" formControlName="startTime" class="form-control form-control-solid">
            <div
              *ngIf="branchForm.get('startTime')!.invalid && (branchForm.get('startTime')?.dirty || branchForm.get('startTime')?.touched)"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="branchForm.get('startTime')?.errors?.['required']" translate="Branches.StartTimeRequired">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-semibold form-label mt-3">
              <span class="required" translate="Branches.EndTime"></span>
              <span class="ms-1" data-bs-toggle="tooltip" aria-label="Select end time"
                data-bs-original-title="Select end time" data-kt-initialized="1">
                <i class="ki-duotone ki-information fs-7">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
            <input type="time" formControlName="endTime" class="form-control form-control-solid">
            <div
              *ngIf="branchForm.get('endTime')!.invalid && (branchForm.get('endTime')?.dirty || branchForm.get('endTime')?.touched)"
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div *ngIf="branchForm.get('endTime')?.errors?.['required']" translate="Branches.EndTimeRequired"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
        <div class="fv-row mb-7">
          <app-lookup-multi-select code="Branch_Component" [parentForm]="branchForm" itemFormName="branchComponents"
            validationTextTranslated="Branches.BranchComponentsRequired"
            placeholderTextTranslated="Branches.ChooseComponents"
            labelTextTranslated="Branches.BranchComponents"></app-lookup-multi-select>
        </div>
      </div>
      <div class="separator mb-6"></div>
      <div class="d-flex justify-content-end">
        <button type="button" (click)="onReset()" data-kt-contacts-type="cancel" class="btn btn-light me-3"
          translate="SHARED.Cancel"></button>
        <button type="button" (click)="onSubmit('redirect')" data-kt-contacts-type="submit" class="btn btn-success me-3"
          [disabled]="branchForm!.invalid">
          <span class="indicator-label" translate="SHARED.Save"></span>
        </button>
        <button type="button" (click)="onSubmit('new')" data-kt-contacts-type="submit" class="btn btn-primary"
          [disabled]="branchForm!.invalid">
          <span class="indicator-label" translate="SHARED.SaveAndNew"></span>
        </button>
      </div>
    </form>
  </div>
</div>
