<div dir="rtl">

  <!-- <img alt="Logo" src="assets/media/logos/main-page.jpg" class="w-100" /> -->

  <div class="img">



    <div class="overlay">
      <h1 class="h1white">واجهة الأعمال في <h1 style="color: #12A8C0;">بنك التنمية الاجتماعي</h1>
      </h1>
      <div class="content">
        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليده هذا النص من مولمن مولد النص العربي، حيث
          يمكن لهذا النص</p>
      </div>
      <a href="#" class="btn">تصفح البيانات</a>
    </div>
  </div>
</div>