<app-validation-alerts [parentForm]="packageForm" translateKey="Packages"></app-validation-alerts>
<div class="card card-flush h-lg-100">
  <div class="card-header pt-7">
    <div class="card-title">
      <i class="ki-duotone ki-badge fs-1 me-2"></i>
      <h2 class="card-title fw-bold" translate="Packages.Update"></h2>
    </div>
  </div>
  <div class="card-body pt-5">
    <form [formGroup]="packageForm" class="form fv-plugins-bootstrap5 fv-plugins-framework">
      <!-- NameAr -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.NameAr"></span>
        </label>
        <input type="text" formControlName="nameAr" class="form-control form-control-solid" />
        <div *ngIf="packageForm.get('nameAr')?.invalid" class="invalid-feedback">
          <span translate="Packages.NameRequired"></span>
        </div>
      </div>
      <!-- Name -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.Name"></span>
        </label>
        <input type="text" formControlName="name" class="form-control form-control-solid" />
        <div *ngIf="packageForm.get('name')?.invalid" class="invalid-feedback">
          <span translate="Packages.NameRequired"></span>
        </div>
      </div>
      <!-- DescriptionAr -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.DescriptionAr"></span>
        </label>
        <input type="text" formControlName="descriptionAr" class="form-control form-control-solid" />
        <div *ngIf="packageForm.get('descriptionAr')?.invalid" class="invalid-feedback">
          <span translate="Packages.DescriptionRequired"></span>
        </div>
      </div>
      <!-- Description -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.Description"></span>
        </label>
        <input type="text" formControlName="description" class="form-control form-control-solid" />
        <div *ngIf="packageForm.get('description')?.invalid" class="invalid-feedback">
          <span translate="Packages.DescriptionRequired"></span>
        </div>
      </div>
      <!-- DefaultDiscount -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.DefaultDiscount"></span>
        </label>
        <input type="number" step="0.01" formControlName="defaultDiscount" class="form-control form-control-solid" />
      </div>
      <!-- WrittenServices -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.WrittenServices"></span>
        </label>
        <input type="text" formControlName="writtenServices" class="form-control form-control-solid" />
      </div>
      <!-- MaxBranchUsers -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.MaxBranchUsers"></span>
        </label>
        <input type="number" formControlName="maxBranchUsers" class="form-control form-control-solid" />
      </div>
      <!-- MaxMogdiPlatformUsage -->
      <div class="fv-row mb-7">
        <label class="fs-6 fw-semibold form-label mt-3">
          <span class="required" translate="Packages.MaxMogdiPlatformUsage"></span>
        </label>
        <input type="number" formControlName="maxMogdiPlatformUsage" class="form-control form-control-solid" />
      </div>
      <!-- If you want to show packageFacilities like in Create -->
      <div class="card card-flush mb-5 p-4 bg-light">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 translate="Packages.PackageFacilities"></h4>
          <button class="btn btn-primary" type="button" (click)="addFacilityRow()" translate="Packages.AddFacility">
          </button>
        </div>
        <div class="row mb-3" *ngFor="let facility of facilitiesArray.controls; let i = index" [formGroup]="facility">
          <div class="col-md-2 mb-3">
            <app-facility-dropdown [parentForm]="facility" itemFormName="facilityId"
              placeholderTextTranslated="Facility.Name" labelTextTranslated="Facility.Name"
              validationTextTranslated="Facility.NameRequired">
            </app-facility-dropdown>
          </div>
          <div class="col-md-2 mb-3">
            <app-lookup-dropdown [code]="'Packages'" [parentForm]="facility" itemFormName="typeId"
              placeholderTextTranslated="Packages.TypeId" labelTextTranslated="Packages.TypeId"
              validationTextTranslated="Packages.TypeIdRequired">
            </app-lookup-dropdown>
          </div>
          <div class="col-md-2 mb-3">
            <label class="fs-6 fw-semibold form-label  mt-3" translate="Packages.Quantity"> </label>
            <input type="number" formControlName="quantity" class="form-control " />
          </div>
          <div class="col-md-2 mb-3">
            <label class="fs-6 fw-semibold form-label  mt-3" translate="Packages.Discount"> </label>
            <input type="number" formControlName="percentageDicount" class="form-control " />
          </div>
          <div class="col-md-2 mb-3">
            <label class="fs-6 fw-semibold form-label  mt-3" translate="Packages.Price"> </label>
            <input type="number" formControlName="price" class="form-control " />
          </div>
          <div class="col-md-2 mb-3 d-flex align-items-end">
            <div class="form-check me-2">
              <input type="checkbox" formControlName="isTaxIncluded" class="form-check-input" />
              <label class="form-check-label" translate="Packages.Tax"></label>
            </div>
            <button class="btn btn-danger" type="button" (click)="removeFacilityRow(i)">
              X
            </button>
          </div>
        </div>
      </div>
      <div class="separator mb-6"></div>
      <div class="d-flex justify-content-end">
        <button type="button" (click)="onReturn()" class="btn btn-light me-3" translate="SHARED.Return"></button>
        <button type="button" (click)="onSubmit()" class="btn btn-success" [disabled]="packageForm.invalid"
          translate="SHARED.Save">
        </button>
      </div>
    </form>
  </div>
</div>
