<div dir="rtl">
  <div class="container">
    <div class="main-content">
      <!-- Stories Container on Right -->
      <div class="stories-container">
        <div class="stories-container-header">
          <h2 class="card-title">قصص نجاح جادة</h2>
          <div class="more-details">
            <p-button icon="pi pi-chevron-left" iconPos="right" label="عرض المزيد" [rounded]="true" [text]="true"
              severity="secondary" />
          </div>
        </div>
        <app-about-jada-success-stories />
      </div>
      <!-- Blogs Container on Left -->
      <app-about-jada-blogs />
      

    </div>
    <div class="main-content">
      <!-- Stories Container on Right -->
      <div class="stories-container">
        <div class="stories-container-header">
          <h2 class="card-title">اكتشف أحدث الأخبار</h2>
          <div class="more-details">
            <p-button icon="pi pi-chevron-left" iconPos="right" label="عرض المزيد" [rounded]="true" [text]="true"
              severity="secondary" />
          </div>
        </div>
        <app-about-jada-news />
      </div>
      <!-- Blogs Container on Left -->
      <app-about-jada-events />
      

    </div>
    
  </div>
</div>