<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Active Projects" color="#F1416C"
      img="./assets/media/patterns/vector-1.png"></app-cards-widget20>
    <app-cards-widget7 cssClass="h-md-50 mb-5 mb-xl-10" [icon]="false" [stats]="357" description="Professionals"
      labelColor="dark" textColor="gray-300"></app-cards-widget7>
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget17 cssClass="h-md-50 mb-5 mb-xl-10"></app-cards-widget17>
    <app-lists-widget26 class="h-lg-50"></app-lists-widget26>
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10>
  <!--end::Col-->
</div>